{% extends 'baseApp/base.html' %}
{% block content %}
<style>
    /* html,body{
         width:100%;
         height:100%;
         overflow: hidden;

     }*/
    .wrapper{
        height:100%;
        width:100%;
        font-family: "微软雅黑";
    }
    .wrapper h1{
        width:100%;
        height:45px;
        font-size:24px;
        text-align: center;
        line-height: 45px;
    }
    .searchdiv{
        width:100%;
        height:60px;
        background:#f7f7f7;
        text-align: center;
    }
    .searchdiv input{
        width:55%;
        height:35px;
        border: 1px solid #ebebeb;
        line-height: 35px;
        border-radius: 20px;
        margin-top:10px;
        padding-left: 5%;
    }
    .inputsearch{
        width:50%;
        margin: auto;
    }
    .inputsearch label{
        width:100px;
        margin:0 50px 0 20%;
        font-weight: bold;
        display: inline-block;
        text-align: right;
    }
    .inputsearch input{
        width:40%;
        height:35px;
        line-height: 35px;
        margin-top:9%;
        margin-bottom: 9%;
        border-radius:10px;
        border:1px solid #ebebeb;
    }
    .inputsearch input.man{
        width:15px;
        height:15px;
    }
    .inputsearch input.woman{
        width:15px;
        height:15px;
        margin-left:10%;
        border: 1px solid #ebebeb;
    }
    .inputsearch select{
        width:40%;
        height:35px;
        border-radius: 10px;
        border:1px solid #ebebeb/*#fa4848*/;
    }
    .searchbtn{
        width:15%;
        height:45px;
        line-height: 45px;
        text-align: center;
        margin: auto;
        background: #fa4848;
        color: #fff;
        border-radius: 10px;
        display: block;
        margin-top:10%;
    }
</style>

<body>
<div class="wrapper">
    <h1>首页</h1>
    <div class="searchdiv"><input type="text" class="search" placeholder="输入想要搜索的内容"></div>
    <div class="inputsearch">
        <form id="searchForm" action="{% url "indexForm" %}" method="post" onsubmit="return submitForm()">
            {% csrf_token %}
            <label>性别：</label><input type="radio" name="sex" class="man" value="man" checked="checked">男<input type="radio" name="sex" class="woman" value="woman">女<br>
            <label>年龄：</label><select name="age" id="age"><option value="15">15~18</option><option value="18">18~22</option><option value="22">22~25</option><option value="25">25~35</option><option value="35">35~45</option></select><br>
            <label>疼的地方:</label><input type="text" name="hurtname" id="hurtname"/>
            <input type="submit" class="easyui-linkbutton" value="提交" style="width: 35%;margin-left: 35%;background:#4fd1fe;"/>
        </form>
    </div>
</div>
<script>
    function submitForm(){
        var age = $('#age').val();
        var hurtname = $('#hurtname').val();
        if(!isNull(age,"用户年龄不能为空")){
            return false;
        }else{
            return isNull(hurtname,"请输入您不舒服的部位");
        }
    }
</script>
{% endblock %}
