{% extends 'baseApp/base.html' %}
{% block content %}
<script>
    (function () {
        var state = {% if state %}{{ state }}{% else %}''{% endif %};
        if ( state == '0') {
            alert("登录后方轻安！");
        } else if (state == '1') {
            alert("登录姓名或者密码错误，请重试！");
        }
    }())
</script>
<style>
a .easyui-linkbutton {
    width: 100px;
    margin-left: 26%;
}
</style>
    <div style="width:65%;margin-left:35%;margin-top:15%">
        <div class="easyui-panel" title="请登录" style="width:35%">
            <div style="padding:10px 60px 20px 60px">
                <form id="logindata" method="post"  action="{% url 'checkLogin' %}" onsubmit="return submitForm()">
                    {% csrf_token %}
                    <table cellpadding="5">
                        <tr>
                            <td>姓名:</td>
                            <td><input class="easyui-textbox" type="text" name="username" data-options="required:true" id="username"></td>
                        </tr>
                        <tr>
                            <td>密码:</td>
                            <td><input class="easyui-textbox" type="text" name="password" data-options="required:true" id="password"></td>
                        </tr>
                    </table>
                    <div style="margin:5px 0;"> </div>
                     <a href="{% url 'register' %}" class="easyui-linkbutton" data-options="plain:true" style="margin-left: 42%">注册</a>
                    <div style="margin:5px 0;"> </div>
                    <input type="submit" class="easyui-linkbutton" value="提交" style="width: 35%;margin-left: 35%"/>
                </form>
            </div>
        </div>
    </div>
<script>
    function submitForm(){
        var username = $('#username').val();
        var password = $('#password').val();
        if(!isNull(username,"用户名不能为空！")){
            return false;
        }else{
            return isNull(password,"用户密码不能为空！");
        }
    }
</script>
{% endblock %}